@use '../scss/variables' as *;

@mixin onDesktop {
  @media screen and (min-width: 801px) {
    @content;
  }
}

@mixin onMobile {
  @media screen and (max-width: 800px) {
    @content;
  }
}

@mixin colCenter {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@mixin flexCenter {
  display: flex;
  align-items: center;
}

@mixin detect {
  border: 1px solid black;
}

@mixin emailField {
  border: 1px solid $light-gray;

  &::placeholder {
    color: rgba($light-gray, 0.6);
  }
}

@mixin submitButton {
  background-color: $bright-blue;
  color: white;
  font-family: $open;
  font-weight: $bold;
  border: none;
  box-shadow: 2px 5px 2px 2px rgba($black, 0.07);
}